//Fonte Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

//Cores
$primary: #E30613;
$secondary: #B0000D;
$tertiary: #ffffff;
$quaternary: #000000;
$quinary: #f5f5f5;
$senary: #cecece;
$septenary: #9ca3af;

//Variaveis Bootstrap
$font-family-base: 'Inter', sans-serif;

//Importa Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";



//Estilos personalizados
.navbar {
    background-color: $tertiary !important;
}

.btn{
    transition: 0.5s ease-in-out !important;
}

.btn:hover{
    transform: scale(1.05) !important;
}

.btn-secondary {
    color: $quaternary !important;
    border-color: $primary !important;
    background-color: $tertiary !important;
}

.form-login{
    border: none;
    background-color: $quinary;
    
    .form-control{
        background-color: $senary;
        padding: 0.75rem 1rem;
    }
}

.link-nav{
    text-decoration: none;
    color: $quaternary;
    transition: 0.5s ease-in-out;
}

.link-nav:hover{
    transform: scale(1.1);
    font-weight: bold;
}

.left-link{
    margin-right: 10px;
}

