//Fonte Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

//Cores
$primary: #E30613;
$secondary: #B0000D;


//Variaveis Bootstrap
$font-family-base: 'Inter', sans-serif;


//Importa Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";